@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
           

#app {
  font-family: MapoGoldenPier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F2F3F4 ;
}

#top{
  background-color: #e8ded2;
  padding : 2em;
  margin:0;
}
#bottom{
  background-color :#a3d2ca;
  margin :0 ;
  padding :0.001rem;
}
.logo{
  margin-left : 10px;
  text-align: left;
  float : left;
  color:#056676;
  text-shadow: 5px 3px 5px #797D7F;  
}
.date{
  text-align:right;
  float:right;
  padding :1rem;
  text-shadow: 5px 3px 5px #797D7F;  
}
       
$color:#056676 ;
.title{
  font-family: inherit;
  margin: 0 auto;
  letter-spacing: 0.03rem;
  
  color:$color ;
  
  &__message {
    font-size:2.3rem;
    text-align : center;
  }
  &__task {
    margin-top : 1.5rem;
    margin-bottom :5rem;
    text-align : center;

    &-total {
      font-size:4.4rem;
      line-height : 110%;
      color:#5eaaa8;
      text-shadow: 2px 2px 2px #797D7F;
    }
  }

}

.add{
  text-align:center;
  height : auto;
  width : 500px;
  line-height: normal;
  margin : 0 auto;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
  &__input{
      width:50%;
      background-color :rgba(255,255,255,0);
      line-height: 250%;
      padding: .8em .5em;
      font-family :inherit;
      border : transparent;
      outline:none;
      margin-left: 35px;
      text-align : center;
      color:transparent;
      text-shadow:0 0 0 #797D7F;
    }
  &__button{
      width:55px;
      height:45px;
      background-color: transparent;
      color:#797D7F;
      float : right;
      margin-top:5px;
      margin-right: 20px;
      font-size: 20px;
      font-family :inherit;
      line-height: 220%;
      border-radius: 40%;
      border : transparent;
      outline:0;      
      }
  ::placeholder{
      text-align: center;
      font-size: 120%;
      color :#797D7F ;
    }
  }

.hello {
  color : black;
  text-align: center;
  font-size : 2rem;
  color : #797D7F;
  text-shadow: 2px 2px 2px white;

  &__question {
    margin-bottom : 15px;
  }


}
.user_name {
  width:30%;
  background-color :rgba(255,255,255,0.8);
  border-radius: 5px;
  line-height: 200%;
  padding: .3em .2em;
  font-family :inherit;
  font-size : 20px;
  border : transparent;
  outline:none;
  text-align : center;
  color:transparent;
  margin-left : 20px;
  text-shadow:0 0 0 #797D7F;  
}

.select{
  margin-top : 20px;
  margin-bottom : 20px;
  font-size : 20px;
  display:inline-block;

  &box{
    font-size:15px;
    font-family : inherit;
    margin-left : 15px;
    padding : .8em .5em;
    width: 300px;
    border : transparent;
    border-radius : 5px;
    outline:0;
    color:#797D7F;
    text-align-last : center;
    background-color : rgba(255,255,255,0.8);
  }
}
.selected{
  text-decoration:line-through;
}
.clear{
  margin-left : 30px;
  display:inline-block;
  background-color: rgba(255,255,255,0.8);
  color:#797D7F;
  margin-top:5px;
  margin-right: 20px;
  font-size: 15px;
  font-family :inherit;
  border-radius: 5%;
  border : transparent;
  outline:0;
  padding: .8em .5em;
}

.input{
  text-align: center;
}

.list{
  width : 50%;
  margin : 0 auto;

  &__item{
    margin-bottom : 10px;
    text-align: center;
    color:black;
    background-color:rgb(255,255,255);
    border-radius: 5px;
    display:flex;
    position : relative;
    align-items: center;
  }
  &__text{
    font-size: 15px;
  }
  &__checked{
    width:18px;
    height:18px;
    top:30%;
    margin-left : 10px;
    margin-right: 15px;
    background-color : white;
  }

  &__date{
    position: absolute;
    right : 8%;
    color:#797D7F;
  }

  &__delete{
    position: absolute;
    font-family : inherit;
    border : transparent;
    background-color:  transparent;
    right:5px;
    color : #797D7F;
    outline : 0;
  }
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  height: 50px;
  text-align : center;
  color : #797D7F;
}